@(page: String, isLoggedIn: Boolean, userInfo: User, managerForm: Form[views.formdata.ManagerForm])
@import helper._
@import views.html.bootstrap3._

@main(page, isLoggedIn) {
	<h2>@page</h2>
	<fieldset>
	    <div class="">
		    @form(routes.Application.postAddManager(), 'class -> "form-horizontal"){
		    	 <!-- Name -->
		  		@text(managerForm("firstName"),
		        	label = "First Name",
		        	placeholder = "first name (required)")
	       		@text(managerForm("lastName"),
		        	label = "Last Name",
		        	placeholder = "last name (required)")
	        	@text(managerForm("email"),
		        	label = "Email",
		        	placeholder = "Manager's email ID (required)")
		        	
		        	<div class="control-group">
          <label class="control-label" for="majors">Major(s)</label>
          <div class="controls">
            <select multiple="multiple">
              <option>Chemistry</option>
              <option>Biology</option>
              <option>Physics</option>
              <option>Other</option>
            </select>
            <p class="help-block">Select one or more majors.</p>
          </div>
        </div>
		        	
	        	@text(managerForm("contact"),
		        	label = "Manager's Contact #",
		        	placeholder = "contact number")
	        	<div class="form-group">
			    <div class="col-sm-offset-2 col-sm-10">
			      <button id="submit" type="submit" value="Submit" class="btn btn-primary">Add Manager</button>
			    </div>
			  </div>
		    }
		</div>
    </fieldset>
}