@(page: String, isLoggedIn: Boolean, userInfo: User)

@main("Yellow", isLoggedIn) {

    <a href="/login" class="btn btn-default">Login</a>
    <a href="/form" class="btn btn-default">Access Form</a>

}
