@(page: String, isLoggedIn: Boolean, userInfo: User,loginForm: Form[views.formdata.LoginForm])

@import helper._
@import views.html.bootstrap3._
	 
@main(page, isLoggedIn) {

    

<div class="panel panel-default">

  <div class="panel-heading">
    <h3 class="panel-title">Admin Login</h3>
  </div>
  <div class="panel-body">
   	@form(routes.Application.postLogin(), 'class -> "form-horizontal"){
    	 <!-- Name -->
  		@text(loginForm("username"),
        	label = "Username",
        	placeholder = "username",
        	help="Help username")
        	
    	@password(loginForm("password"),
        	label = "Password",
        	placeholder = "Password")
        	
       	<div class="form-group">
	    <div class="col-sm-offset-2 col-sm-10">
	      <button id="submit" type="submit" value="Submit" class="btn btn-primary">Login</button>
	    </div>
	  </div>
    }
  </div>
</div>
		
    
}
