@(page: String, isLoggedIn: Boolean, userInfo: User,requestForm: Form[views.formdata.RequestForm])

@import helper._
@import views.html.bootstrap3._
	 
@main(page, isLoggedIn) {

    <h3>Computer Service Department Account Request Form</h3>
    <fieldset>
    
	    <div class="">
		    @form(routes.Application.postForm(), 'class -> "form-horizontal"){
		    	 
		  		@text(requestForm("firstName"),
		        	label = "First Name",
		        	placeholder = "first name",
		        	help = "Please enter your first name. (required)")
		        	
	       		@text(requestForm("lastName"),
		        	label = "Last Name",
		        	placeholder = "last name",
		        	help = "Please enter your last name. (required)")
		        	
	        	@text(requestForm("empId"),
		        	label = "Employee/Student ID",
		        	placeholder = "employee or student ID",
		        	help = "Please enter your Student ID or Emplpyee ID whichever applicable. (required)")
		        	
	        	@text(requestForm("contact"),
		        	label = "Your Contact #",
		        	placeholder = "contact number")
		        	
	        	<div class="form-group">
			    <div class="col-sm-offset-2 col-sm-10">
			      <button id="submit" type="submit" value="Submit" class="btn btn-primary">Request Access</button>
			    </div>
			  </div>
		    }
		</div>
    </fieldset>
}
